body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}
header{
padding: 20px;
display: flex;
justify-content: space-between;
box-shadow: 0 0 2px #8e9292;
}

.menu{
    padding: 0;
    display: block;
    text-decoration: none;
}
 .menu a {
    font-size: 16px;
    margin: 15px;

}
.pricing-info{
    margin-top: 85px
}
.pricing-info p{
    text-align: center;
    width: 55%;
    margin: auto;
    font: 20px arial, sans-serif;
    color: #706f6f;
    margin-bottom: 45px;
}
.container{
    max-width: 1050px;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}
.box{
    text-align: center;
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.box li{
  text-decoration: none;
  list-style-type: none;
}
.box-title{
background: #f1f1f1;
margin: 0;
padding: 4px 0;
font-size: 22px;
}
.box-info {
    display: block;
    padding: 7px 0;
    font: 16px , sans-serif;
}
.box-body p {
    font: 34px , sans-serif;
    margin: 15px auto;
}
.footer-link {
    text-decoration: none;
    color: #4a4a4a;
    font: 18px "Roboto", sans-serif;
    text-decoration: none;
}

.links {
    padding: 0;
    list-style-type: none;
}
nav{
    float: right;
    margin-top: 24px;
    padding: 0;}
 a {
     color: rgb(31, 30, 30);
    text-decoration: none;
    font-size: 12px;
}
.btn {
    margin: 20px 0;    
    font-size: 20px;
    padding: 8px;
    color: #0e9cca;
    text-align: center;
    margin: 0 px 2px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #0e9cca;
    }
 
  .title h1{
      margin-top: 116px;
      font-size: 114 px;
      color: rgb(12, 11, 11);
      text-align: center;
  }
  .paragraph p {
    font-size: 502 px;  
    color: rgb(27, 26, 26);
    text-align: center;
    
  }
  
  .box li {
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    font: 18px "Arial", sans-serif;
}
.box {
    text-align: center;
    font: 28px "Arial", sans-serif;
}
.box .btn-light {
    margin: 20px 0;
    width: 85%;
    font-size: 20px;
    padding: 20px;
    color: #0e9cca;
    text-align: center;
    margin: 0 px 2px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #0e9cca;
    }
  
 .box .btn-blue{
    margin: 20px 0;
    width: 85%;
    font-size: 20px;
    padding: 20px;
    color:white;
    text-align: center;
    margin: 0 px 2px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color:#0e9cca ;
    border: 1px ; 
    }
    .image-bootstrap{
        margin-bottom: 1200px;
    }
    hr{
        width: 1100px;
        margin: 85px 0px 20px 0px;
        color: #929191;
    }
    
    .footer-link{
        color: #4a4a4a;
        font: 18px "Roboto", sans-serif;
    }
    .footer-block{
       
        padding: 9px;
        text-align: left;
        width: 20%;
    }
    h5{
        margin-bottom: 9px;
    }

  
  


